<%
# new.html.erb
# By Mathew Allen
# Based on user page from reference 1
%>
<% provide(:title, @user.username) %>
<div class="container">
   <div class="row">
    <section class="user_info jumbotron">
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.username %>
      </h1>
      <div class="user-actions">
        <%= link_to "Record a Workout", choose_routine_workout_sessions_path(), { class: 'btn btn-lg btn-primary' } %>
        <%= link_to "Design a Routine", new_routine_path(), { class: 'btn btn-lg btn-primary' } %>
        <%= link_to "Add an Exercise", new_exercise_path(), { class: 'btn btn-default' } %>
      </div>
    </section>

    <section role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#workouts" aria-controls="workouts" role="tab" data-toggle="tab">Workouts</a></li>
        <li role="presentation"><a href="#routines" aria-controls="routines" role="tab" data-toggle="tab">Routines</a></li>
        <li role="presentation"><a href="#achievments" aria-controls="achievments" role="tab" data-toggle="tab">Achievments</a></li>
        <li role="presentation"><a href="#records" aria-controls="records" role="tab" data-toggle="tab">Records</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="workouts">

          <section class="workout-log">

            <h3>Recent Workouts</h3>
            <ul class="list-group">
              <% for @workout in @user.workout_sessions.recent %>
              <li class="list-group-item">
                <%= link_to @workout.name, @workout %>
                <span class="pull-right">
                  <%= time_ago_in_words @workout.created_at %> ago
                </span>
              </li>
              <% end %>
              <% if @user.workout_sessions.empty? %>
              <div class="text-center">
                Looks like there's nothing here. Why don't you record a workout now?
              </div>
              <% end %>
            </ul>
          </section>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="routines">
          <section class="routine-list">

            <h3>My Routines</h3>
            <ul class="list-group">
              <% for @routine in @user.routines %>
              <li class="list-group-item">
                <%= link_to @routine.name, edit_routine_path(@routine) %>
                <span class="pull-right">
                  Created <%= time_ago_in_words @routine.updated_at %> ago
                  <%= link_to '', routine_path(@routine), method: :delete , class: "glyphicon glyphicon-remove" %>
                </span>
              </li>
              <% end %>
              <% if @user.routines.empty? %>
              <div class="text-center">
                Looks like there's nothing here. Why don't you create a routine now?
              </div>
              <% end %>
            </ul>
          </section>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="achievments">Coming soon!</div>
        <div role="tabpanel" class="tab-pane fade" id="records">
          <section class="records-list">

            <h3>My Records</h3>
            <ul class="list-group">
              <% for @record in @user.personal_records %>
              <li class="list-group-item">
                <%= @record.exercise.name %> : <%= @record.resistance %> lbs
                <span class="pull-right">
                  As of <%= time_ago_in_words @record.updated_at %> ago
                </span>
              </li>
              <% end %>
              <% if @user.personal_records.empty? %>
              <div class="text-center">
                Looks like there's nothing here. Why don't you make some records now?
              </div>
              <% end %>
            </ul>
          </section>

        </div>
      </div>

  </section>



  </div>
</div>
