<%
# new.html.erb
# By Mathew Allen
# Based on user page from reference 1
%>
<% provide(:title, @user.username) %>
<div class="container">
   <div class="row">
    <section class="user_info jumbotron">
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.username %>
      </h1>
      <div class="user-actions">
        <%= link_to "Record a Workout", choose_routine_workout_sessions_path(), { class: 'btn btn-lg btn-primary' } %>
        <%= link_to "Design a Routine", new_routine_path(), { class: 'btn btn-lg btn-primary' } %>
        <%= link_to "Add an Exercise", new_exercise_path(), { class: 'btn btn-default' } %>
      </div>
    </section>

    <section role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#workouts" aria-controls="workouts" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-list"></i>
            <span class="hidden-xs">Workouts</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#routines" aria-controls="routines" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="hidden-xs">Routines</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#achievements" aria-controls="achievements" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-flag"></i>
            <span class="hidden-xs">Achievements</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#records" aria-controls="records" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-stats"></i>
            <span class="hidden-xs">Records</span>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="workouts">
          <%= render :partial => "users/workouts" %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="routines">
          <%= render :partial => "users/routines" %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="achievements">
          <%= render :partial => "users/achievements" %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="records">
          <%= render :partial => "users/records" %>
        </div>
      </div>

  </section>



  </div>
</div>
