<%
# new.html.erb
# By Mathew Allen
# Based on user page from reference 1
%>
<% provide(:title, @user.username) %>
<div class="container">
     <div class="row">
      <section class="user_info jumbotron">
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.username %>
      </h1>
      </section>
      <section class="user-actions text-center">
        <%= link_to "New Workout", choose_routine_workout_sessions_path(), { class: 'btn btn-lg btn-primary' } %>
      </section>
      <section class="workout-log">
        <h3>Recent Workouts</h3>
        <ul class="list-group">
          <% for @workout in @user.workout_sessions %>
          <li class="list-group-item">
            <%= link_to @workout.name, @workout %>
            <span class="pull-right">
              <%= time_ago_in_words @workout.created_at %> ago
            </span>
          </li>
          <% end %>
        </ul>
      </section>

  </div>
</div>
