<%
# _header.html.erb
# By Mathew Allen
%>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <%= link_to "SmartBells", "/", class: "navbar-brand" %>
  </div>
  <header id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= smart_link_to "Home", '/'%></li>
      </ul>
    </nav>
    <ul class="nav navbar-nav navbar-right">
       <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.username %>
                  <%= gravatar_for current_user, size:20 %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= smart_link_to "Dashboard", current_user %></li>
                  <li><%= smart_link_to "Record a Workout", choose_routine_workout_sessions_path %></li>
                  <li><%= smart_link_to "Design a Routine", new_routine_path %></li>
                  <li class="divider"></li>
                  <li>
                    <%= smart_link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
            <li><%= link_to "Log in", '/login' %></li>
            <li><%= link_to "Sign up", '/signup' %></li>
        <% end %>
    </ul>
  </header>
  </div>
</nav>

